.dashboard{
  max-width: 100%;
  height: auto;
}

.dash-header{
  background: #465451;
   overflow: hidden;
  height: 4.1em;
  width: auto;
 }
 .dash-name {
  margin-top: 0.3em;
  text-align: center;
  color:white;
  }
  .dashboard-username{
    color:#FFC966;
    position: absolute;
     top: 5%;
     right:20%;
     font-size: 1.4rem;
  }
  .logout-button{

    position: absolute;
    top:10px;
    right: 30px;
    background-color:lightcoral;
    border-radius: 10px;
    border:none;
    display: inline-block;
  padding: 10px 17px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color:white;
    z-index: 4;
  }

  .logout-button:hover {
    background-color:rgb(209, 111, 111);
  }
  
  .result-trips-footer {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #2c3532;
    display: none;
  }

  .expand-trips {
    border: none;
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #29312f;
    left: 50%; right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 2em;
    border-left: solid 1px #60726d;
  }

  .expand-trips:hover {
    background-color: #3b4744;
  }

  .expand-results {
    border: none;
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #29312f;
    left: 0; right: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 2em;
    border-right: solid 1px #60726d;
  }

  .expand-results:hover {
    background-color: #3b4744;
  }

  .highlight-buttons {
    background-color: #3b4744;
  }

  .arrow-holder {
    display: none;
  }

  .result-trips-footer {
    display: inline-block;
  }

@media only screen and (max-width: 1200px) {
  .dash-name {
    text-align: left;
    margin-left: 3%;
  }
}

@media only screen and (max-width: 850px) {
  .dash-name {
    display: none;
  }
}

@media only screen and (max-width: 520px) {

  .dash-header {
    /* height: 200px; */
  }

  .logout-button {
    top: 9px;
    font-size: 0px;
    height: 43px;
    width: 44px;
    right: 20px;
    background-image: url('../images/logoutBtn.png');
    background-position: 80% 50%;
    background-size: 33px 33px;
    background-repeat: no-repeat;
  }

}