
.map-view{
  z-index: 0;
  height:90vh;
  width: 45%;
  position: relative;
  /* bottom: 100vh; */
  top:0;
  left: 30%;
  /* transform: translate(-50%,-50%) */
}

 div .map-contianer{
  height: 90vh;
  width: 100%;
  z-index: -1;
}