
  .clicked-marker-info {
    width: 100px;
    height: auto;
    color:  #262929;
    margin: 10px;
    padding-left: 15px;
    /* text-align: center; */
  }
  
  .clicked-marker-info p {
    text-align: center;
    /* height: 50px; */
  }
  
  .clicked-marker-header {
    font-weight: bold;
    font-size: 15px;
    /* padding-bottom: 5px; */
    text-align: center;
  }

  .clicked-marker-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .marker-place-desc {
    /* font-size: 16px; */
    text-align: center;
  }

  .unclicked-marker-header {
    font-weight: bold;
    font-size: 15px;
    /* padding-bottom: 5px; */
    text-align: center;
  }
  
  @media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  
  }