.search{
  position: absolute;
  top: -8.5px;
  width: 100%;
}

.search-input{
  position: relative;
  top: 4%;
  left: 15%;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 150%;
  height: 3em;
  box-shadow: 0 0 5px rgb(6, 182, 231);
}
.search-input::placeholder{
  color:  #668099;
  opacity: 0.8;

}
.search-result{
  float: left;
}

.place-photo{
  max-width: 20em;
}
/* the search button  */
.search-button{
  background-color:lightskyblue;
  border-radius: 10px;
  border:none;
  display: inline-block;
position: absolute;
top: -2.5px;
left:170%;
padding: 10px 16px;
margin: 4px 2px;
text-align: center;
text-decoration: none;
font-size: 16px;
cursor: pointer;
color:white;

}
.search-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.search-input:focus {
  outline: none;

}
.form-search{
  z-index: 4;
  position: absolute;
  top:20px;
  left:1em;
}
.search-label{
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bolder;
}
/* REVIEWS */
.review-header{
  text-align: center;
}

.review-img {
  max-width: 20%;
  float: left;
  padding-right: 5px;
  
}
.review-list{
  height: 10em;
  overflow: auto;
}
.review-list li {
  margin-bottom: 15px;  
 }
  .place-photo {
    padding-top: 10px;
    border-radius: 20px;
}