
.result-map-view{
  position: absolute;
  left:0;
  top: 12%;
  z-index: 3;
  overflow: auto;
  height: 80%;
    width: 30%;
}
.result-map-view::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.result-map-view::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.result-map-view::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(128, 128, 128, 0.582);
}
.search-result-view{
  
  padding: 20px 20px;
  border-radius: 10px;
  margin: 10px;
  background: white;
}

.result-btn-group {
  display: block;
  margin-top: 10px;
}

.add-to-trip {
  position: relative;
  border: solid 1px #CCD1D1;
  padding: 10px 16px;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(124, 206, 124);
  color: white;
  width: 111px;
  margin-right: 5px;
}

.add-to-trip:hover {
  background-color: rgb(99, 163, 99);
}

.create-new-trip {
  position: relative;
  border: solid 1px #CCD1D1;
  padding: 10px 5px;
  font-size: 1em;
  font-weight: bold;
  background-color:lightskyblue;
  color: white;
  width: 111px;
  margin-left: 5px;
}

.create-new-trip:hover {
  background-color:rgb(108, 164, 199);
}

.dropdown-btn {
  display: block;
  border: solid 1px rgb(99, 163, 99);
  border-bottom: .5px;
  padding: 10px 16px;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(124, 206, 124);
  width: 111px;
  color: white;
}

.dropdown-btn:hover {
  background-color: rgb(99, 163, 99);
}

.create-success {
  color: rgb(23, 165, 23);
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 25%;
}

@media only screen and (max-width: 1040px) {
  .create-new-trip {
    position: absolute;
    margin: 5px 0px;
  }

  .add-to-trip {
    margin: 0;
    margin-top: 5px;
  }
}