.trips-list {
  margin-left: 2rem;
  max-width: 20%;
 }
 
 .delete-data {
   text-align: center;
 }
 /* change to all input*/
 .search-input:focus {
   outline: none;
 }
 
 .trips-item {
   height: auto;
 overflow:auto;
 clear: both;
 }
 
.listed-trips div {
  margin-bottom: 5px;
}

.comment-container {
  display: inline-block;
  margin-top: 5px;
  border: solid 1px #39393A;
  border-radius: 5px;
  padding-bottom: 5px;
}

.comment-text-area {
  display: inline-block;
  margin-bottom: 5px;
}

.add-comment-header {
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}
 
 .listed-trips{
 background: #CCD1D1;
 color: #39393A;
 text-align: center;
   padding: 5px 5px;
 margin: 5px 5px;
 border: 1px solid grey;
 border-radius: 10px;
 overflow: none;
 
 }
 .trips-class .place-photo {
 max-width: 100%;
 }
 .delete-data {
 text-align: center;
 }
 .showing-trips{
 text-align: center;
 }

.place-photo {
  max-height: 180px;
  width: auto;
}

.showing-trips {
  background: white;
  border-radius: 5px;
  /* border: 2px solid black; */
  text-align: center;
  padding: 10%;
  margin-bottom: 2%;
}

.trips-list{
  padding-right: 3rem;
  position: absolute;
  top: 15%;
  right: 0%;
  width: 33.3%;
  padding-right: 2%;
}

.trips-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10%;
  color: #39393A;
}

.trip-card-name {
  font-weight: bold;
}

.comment-submit {
  position: relative;
  border: none;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(124, 206, 124);
  color: white;
  width: 111px;
  display: inline-block;
  margin-bottom: 10px;
}

.comment-submit:hover {
  background-color: rgb(99, 163, 99);
}