 
 .delete-data {
   text-align: center;
 }
 /* change to all input*/
 .search-input:focus {
   outline: none;
 }
 
 .trips-item {
   overflow:auto;
 }
 
.listed-trips div {
  margin-bottom: 5px;
}

.comment-container {
  display: inline-block;
  margin-top: 5px;
  border: solid 1px rgb(102, 102, 102);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}

.comment-container > ul > li {
  background-color: white;
  padding: 7px;
  width: 80%;
  margin: 5px auto;
  border-radius: 10px;
  border: 1px solid rgb(148, 147, 147);
}

.trip-comment-h {
  margin-bottom: 10px;
}

.trip-comment {
  margin-bottom: 7px;
}

.comment-text-area {
  display: block;
  text-align: center;
  width: 60%;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.add-comment-header {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}
 
 .listed-trips{
 background: #CCD1D1;
 color: #39393A;
 text-align: center;
   padding: 5px 5px;
 margin: 5px 5px;
 border: 1px solid grey;
 border-radius: 10px;
 overflow: none;
 
 }
 .trips-class .place-photo {
 max-width: 100%;
 }
 .delete-data {
 text-align: center;
 }
 .showing-trips{
 text-align: center;
 }

.place-photo {
  max-height: 180px;
  width: auto;
}

.showing-trips {
  position: relative;
  display: inline-block;
  background: white;
  border-radius: 5px;
  /* border: 2px solid black; */
  text-align: center;
  padding: 10%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  width: 80%;
}

.trips-list{
  position: absolute;
  top: 4.1em;
  right: 0;
  width: 23.3%;
  height: 85%;
  overflow: auto;
}

.trips-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #29312f;
}

.trips-list::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.trips-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(206, 205, 205, 0.582);
}

.trips-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10%;
  color: #39393A;
}

.trip-card-name {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.trip-card-result-name {
  font-weight: bold;
  font-size: 1.2em;
}

.comment-submit {
  position: relative;
  border: none;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(124, 206, 124);
  color: white;
  width: 111px;
  display: inline-block;
  margin-bottom: 10px;
}

.comment-submit:hover {
  background-color: rgb(99, 163, 99);
}

.trips-list {
  display: none;
}

.display-trips {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 50%;
  height: 75%;
  background-color: #29312f;
  z-index: 5;
}

.trips-filler {
  position: absolute;
  right: 0;
  width: 50%;
  height: 40%;
  bottom: 10%;
  background-color: #29312f;
  z-index: -1;
}

@media only screen and (max-width: 850px) {
  .trips-filler {
    width: 100%;
    z-index: 4;
  }
  .display-trips {
    width: 100%;
  }
}

.trips-data {
  text-align: center;
}
.showing-trips {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 90%;
}
.trips-data:last-child {
  margin-bottom: 10px;
}

.delete-comment-button {
  background-color: rgb(189, 79, 79);
  border-radius: 10px;
  border:none;
  display: inline-block;
  padding: 5px 8px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color:white;
  z-index: 4;
}

