
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  overflow-x: hidden;
  /* overflow-y: hidden; */
}
/* this the header -- showing the Wanderlust and button within the header-bar */
.header-bar{
  text-align: center;
}
/* this is displaying the Wanderlust name  */
.header-name{
  z-index: 1!important;
  color: rgba(243, 12, 12, 0.466)
}
.logout-button{
  position: absolute;
  top:40px;
  right: 20px;
  z-index: 2;
}
/* this is the map view that we can use */ 
/* using the z-index will make the header name show,
  but the drag is off need to find alternative */
/*
.map-view{
 

  z-index: -1;
  height: 100%;
  width: 45%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%)
} */
.form-search{
  z-index: 4;
  position: absolute;
  top:20px;
  left:10em;
}
.search-label{
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bolder;
}
/*  map view showing */
/* --------------------------- */
div .map-view{
  height: 100vh;
  width: 100%
}
 div .map-contianer{
  height: 100vh;
  width: 100%;
  z-index: -1;
}
/* -------------------------- */
/* this is the search input */
.search-input{
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 150%;
  height: 3em;
  box-shadow: 0 0 5px rgb(6, 182, 231);
}
.search-result{
  float: left;
}
 div .result-map-list{
  text-align: center;
}
/* the search button  */
.search-button{
  background-color:lightskyblue;
  border-radius: 10px;
  border:none;
  display: inline-block;
position: absolute;
top: 1em;
left:18em;
padding: 10px 16px;
margin: 4px 2px;
text-align: center;
text-decoration: none;
font-size: 16px;
cursor: pointer;
color:white;

}
.search-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* this is showing all of our map-results */
.result-map-view{

  position: absolute;
  background: white;
  left:20px;
  top:90px;
  z-index: 3;
  overflow: scroll;
  height: 500px;

}